# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/Upgrade*
/Output*
*.suo
_UpgradeReport_Files

# nuget stuff
packages/*
!packages/repositories.config
.nuget/NuGet.exe
Help/DrawingsDatabase.chm