<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MainPower.DrawingsDatabase.DatabaseHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings/>
  <userSettings>
    <MainPower.DrawingsDatabase.DatabaseHelper.Properties.Settings>
      <setting name="DrawingsConnectionString" serializeAs="String">
        <value>Data Source=Kiwi-2;Initial Catalog=Drawings;Integrated Security=True</value>
      </setting>
    </MainPower.DrawingsDatabase.DatabaseHelper.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
