<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="MainPower.DrawingsDatabase.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <MainPower.DrawingsDatabase.Gui.Properties.Settings>
            <setting name="Substations" serializeAs="String">
                <value>Amberley;Balmoral;Bennetts;Oxford;Cheviot;Claverley;Cust;Greta;Hanmer;Hawarden;Leader;Leslie Hills;Lochiel;Ludstone;Marble Point;Mckenzies Road;Motunau;Mouse Point;Oaro;Omihi;Percival St;Rangiora North;Kaiapoi S1;Southbrook;Kaiapoi North;Pegasus;Swannanoa;Rangiora West;</value>
            </setting>
            <setting name="SearchColumns" serializeAs="String">
                <value/>
            </setting>
            <setting name="RecentTemplates" serializeAs="String">
                <value/>
            </setting>
            <setting name="SavedSearch" serializeAs="String">
                <value/>
            </setting>
        </MainPower.DrawingsDatabase.Gui.Properties.Settings>
    </userSettings>
</configuration>
